





.stacks {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 100px 100px; 
    gap: 15px 20px; 
    grid-template-areas: 
    ". . . . . . . ."
    ". . . . . . . ."; 
    align-content: stretch; 
    align-items: center;
    position: relative;
    width: 100%;
}

.stack {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 4rem;
    width: 100%;
    margin-top: 2rem;
    object-fit: contain;
    cursor: pointer;
}  


/* -- Media Querys -- */

@media screen and (max-width: 768px) {

    .tech {
        padding: 1rem; 
    }

    .tech-title { 
        top: 5%;
        height: 4rem;
    }

    .tech-desc {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        top: 5%;
        text-align:start;
        font-size: 1rem;
    }
    
    .stacks {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 80px 80px 80px 80px; 
        gap: 5px 30px; 
        grid-template-areas: 
          ". . . ."
          ". . . ."
          ". . . ."
          ". . . ."; 
        align-content: contain; 
        align-items: center;
        width: 100%; 
        top: 5%;  
    }

    .stack {
        height: 3.2rem;
        object-fit: contain;  
    }  
}


@media screen and (max-width: 600px) {

    .tech {
        padding: 1rem; 
        height: 38rem;    
    }

    .tech-title { 
        top: -5%;
        height: 4rem;
    }

    .tech-desc {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    
        top: -5%;
        text-align:start;
        font-size: 1rem;
    }
    
    .stacks {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 80px 80px 80px 80px; 
        gap: 5px 30px; 
        grid-template-areas: 
          ". . . ."
          ". . . ."
          ". . . ."
          ". . . ."; 
        align-content: contain; 
        align-items: center;
        width: 100%; 
        top: -5%;   
    }

    .stack {
        height: 3.2rem;
        object-fit: contain;  
    }  
}


@media screen and (max-width: 375px) {

    .tech {
        padding: 1rem; 
        height: 38rem; 
        margin-bottom: 1rem;
    }

    .tech-title { 
        top: -5%;
        height: 4rem;
    }

    .tech-desc {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    
        top: -5%;
        text-align:start;
        font-size: 0.9rem;
    }
    
    .stacks {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 80px 80px 80px 80px; 
        gap: 5px 30px; 
        grid-template-areas: 
          ". . . ."
          ". . . ."
          ". . . ."
          ". . . ."; 
        align-content: contain; 
        align-items: center;
        width: 100%;    
    }

    .stack {
        height: 3rem;
        object-fit: contain;
        padding: 0.1rem;
    }  
}
